{% extends "layout.html" %}
{% block title %}Comicker - 本棚{% endblock %}
{% block head %}
<script src="https://cdn.jsdelivr.net/npm/brython@3.10.2/brython.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/brython@3.10.2/brython_stdlib.js"></script>
{% endblock %}
{% block body %}
<h1>本棚</h1>
ここでは自分の好きなウェブページを登録することができ、そのウェブページを画像のみで閲覧することが可能です。<br>
シークレットモードだと正しく動作しない可能性があります。<br>
また、ブラウザを変更する場合は<a href="port.html">データ管理]</a>に行ってください。<br>
<form action="/bookshelf.html" method="GET" class="row g-3">
  <label class="col-form-label">本の追加</label>
  <div class="col-auto">
    <input type="text" name="url" id="url" class="form-control" placeholder="URL" required>
  </div>
  <div class="col-auto">
    <input type="submit" class="btn btn-dark mb-3" value="登録">
  </div>
</form>
<hr></hr>
<div class="sk-cube-grid" id="loading_first">
  <div class="sk-cube sk-cube1 btn-dark"></div>
  <div class="sk-cube sk-cube2 btn-dark"></div>
  <div class="sk-cube sk-cube3 btn-dark"></div>
  <div class="sk-cube sk-cube4 btn-dark"></div>
  <div class="sk-cube sk-cube5 btn-dark"></div>
  <div class="sk-cube sk-cube6 btn-dark"></div>
  <div class="sk-cube sk-cube7 btn-dark"></div>
  <div class="sk-cube sk-cube8 btn-dark"></div>
  <div class="sk-cube sk-cube9 btn-dark"></div>
</div>
<script type="text/python" src="/src/main.py"></script>
{% endblock %}