{% extends "layout.html" %}
{% block title %}Comicker - クレジット{% endblock %}
{% block body %}
{% filter markdown %}
# クレジット
## 開発者
名前：tasuren  
Discord：tasuren#5161  
ホームページ：http://tasuren.f5.si
## ウェブサービス詳細
リポジトリ：https://github.com/tasuren/comicker
### バックエンド
言語：Python (実装：CPython)  
ウェブフレームワーク：Sanic  
データベース：MySQL  
その他使用したライブラリ：GitHubのリポジトリの`requirements.txt`にて記載されています。
### フロントエンド
言語：Python (実装：Brython)  
CSSフレームワーク：Bootstrap
{% endfilter %}
{% endblock %}