{% extends "layout.html" %}
{% block title %}Comicker{% endblock %}
{% block body %}
{% filter markdown %}
# Comickerとは
広告のあるウェブサイトにある漫画の画像のみを取り出して、画像のみを表示するためのウェブサービスである。  
また、アカウント作成不要でブックマークを保存することができます。  
<del>特にHな漫画サイトを見たい開発者の人のために作られました。</del>
# お知らせ
## 2021/12/16 ベータリリース
ベータリリースをしました。  
まだベータのためバグがあるかもしれません。  
バグがあった場合はその他のDiscordまたはその他のクレジットの開発者のメールに報告しましょう。
{% endfilter %}
{% endblock %}