{% extends "layout.html" %}
{% block body %}
  <h1>Comickerとは</h1>
  広告のある漫画サイトにある漫画の画像のみを全て取り出して、漫画のみを表示するためのウェブサービスである。<br>
  また、アカウント作成不要でブックマークを保存することができます。<br>
  <h1>お知らせ</h1>
  <h2>2021// 初期リリース</h2>
  初期リリースをしました。
{% endblock %}