{% extends "layout.html" %}
{% block title %}Comicker{% endblock %}
{% block body %}
{% filter markdown %}
# Comickerとは
広告のある漫画サイトにある漫画の画像のみを全て取り出して、漫画のみを表示するためのウェブサービスである。  
また、アカウント作成不要でブックマークを保存することができます。  
特にHな漫画サイトのために作られました。
# お知らせ
## 2021/12/16 ベータリリース
ベータリリースをしました。  
まだベータのためバグがあるかもしれません。  
バグがあった場合はその他のDiscordまたはその他のクレジットの開発者のメールに報告しましょう。
{% endfilter %}
{% endblock %}