{% extends "layout.html" %}
{% block title %}Comicker - データ エクスポート/インポート{% endblock %}
{% block body %}
<h1>データ管理</h1>
ここではブラウザに保存されたウェブサイトの画像データの管理をすることができます。
<h2>エクスポート/インポート</h2>
ブラウザに保存した本リストのデータをエクスポート(ダウンロード)することができます。<br>
そしてエクスポートしたデータをインポートすることでそのデータを読み込むことができます。<br>
ブラウザの変更時や他の端末への移行時に使用してください。<br>
ですので、これを使うことでバックアップをすることも可能です。
<h3>エクスポート</h3>
<button class="btn btn-secondary" onclick="exportData(this)">エクスポートをする。</button>
<a id="download" href="..." download="data.cmk" hidden="true"></a>
<br><br>
<h3>インポート</h3>
<label for="upload" class="form-label">以下からファイルを選択してください。</label>
<input class="form-control" id="upload" type="file" onchange="uploadData(this)" accept=".cmk" multiple><br>
<h2>データ消去</h2>
全てのデータを消去します。<br><br>
<a href="/bookshelf.html?clear=data" class="btn btn-danger">消去ページへ進む。</a>
<script type="text/javascript">
function exportData(input) {
  const data = localStorage.getItem("urls");
  if (!data) {
    alert("データは空です。");
  } else {
    var a = document.getElementById("download");
    a.href = `data:application/octet-stream;charset=UTF-8,${encodeURIComponent(
      data.split(",% %,").join("\n")
    )}`;
    if (a.href.length == 44) {
      alert("データは空です。");
    } else {
      a.download = `data_${a.href.length}.cmk`;
      a.click();
    }
  }
}

function uploadData(input) {
  const reader = new FileReader();
  reader.onload = () => {
    localStorage.setItem("urls", reader.result.split(/\r\n|\n|\r/).join(",% %,"));
    alert("データの読み込みに成功しました。");
  }
  reader.readAsText(input.files[0]);
}
</script>
{% endblock %}