{
    "app": {
        "host": "Web Server Host", "port": // Web Server Port
    },
    "mysql": {
        "user": "MySQL User Name", "password": "MySQL User Password",
        "port": // MySQL Port, "db": "MySQL Database DB Name", "autocommit": true
    }
}